
.class-all{

.margin-t{
	margin-top: 30px;
}

.radius{
	border-radius: 50%;
}

.padding{
	padding: 10px;
}

.font-size-30{
	font-size: 30px;
}

.bg-royal{
	background: var(--royal);
	color: var(--white);
}

.bg-green{
	background: var(--brown);
	color: var(--white);
}

.bg-black{
	background: var(--black);
	color: var(--white);
}

.c-white{
	color: var(--white);
}

.radius-5p{
	border-radius: 5px;
}


.heading-1{
	font-size: 11px;
	padding: 30px;

.c-grey{
	color: var(--grey);
}

.p-img-1{
	font-size: 14px;
}

.img-1{
	height: 200px;
	width: auto;
	position: relative;
	left: 18%;
}
}
}