:root{
	--black:black;
	--white:white;
	--grey:grey;
	--green:green;
	--royal:royalblue;
	--antiquewhite:antiquewhite;
	--brown:brown;
}

html{
	height: 100%;
	width: 100%;
}

*{
	padding: 0;
	margin: 0;
}
